@model mvc.ViewModels.PresupuestoPageViewModel
@{
    ViewBag.Title = "Listado de Presupuestos";
}

<div class="grid-layout">
    <div id="output"></div>
</div>

@section styles {
@Styles.Render("~/Content/css/ezgrid")
@Styles.Render("~/bundles/pivotcss")
}
@section Scripts
{
    @Scripts.Render("~/bundles/ezgridjs")

@Scripts.Render("~/bundles/pivotjs")
    <script>



        $(function () {

            EzHeader.collapse = {
                id: "#collapseThree"

            };
            var derivers = $.pivotUtilities.derivers;
            var sum = $.pivotUtilities.aggregatorTemplates.sum;
            var numberFormat = $.pivotUtilities.numberFormat;
            var intFormat = numberFormat({ digitsAfterDecimal: 2 });
            var renderers = $.extend($.pivotUtilities.renderers,$.pivotUtilities.c3_renderers);
                $.ajax({
                    method: "GET",
                    url: "@Url.Action("Obtener")",
                    success: function (data) {
                        $("#output").pivotUI(data.data, {
                            renderers: renderers,
                            cols: [""], rows: ["Obra"],
                            aggregator: sum(intFormat)(["ResumenTotal"]),
                            rendererName: "TSV Export"
                        }, false, "es");
                    }
                });
            });       
    </script>
}