@using ceya.Model.Models
@model Presupuesto

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_sheetLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Presupuesto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObservacionesHeader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObservacionesHeader)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObservacionesFooter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObservacionesFooter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Obra.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obra.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresupuestoCategoria.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresupuestoCategoria.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresupuestoEstado.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresupuestoEstado.Codigo)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
